.Flex
  - users.each do |user|
    .UserStatus
      .UserStatus-name= link_to user.name, user_path(user, timing: params[:timing])
      .UserStatus-balance= helpers.balance_money_tag(transactions.where(user: user).balance)

