.HeaderComponent
  - if link.blank?
    .HeaderComponent-title= name
  - else
    = link_to name, link, class: 'HeaderComponent-title'
  .Box.HeaderComponent-balance
    .HeaderComponent-balance-label= label
    .HeaderComponent-balance-value= balance
