= helpers.turbo_stream_from dom_id(group)
%turbo-frame{ id: "transactions", src: url, loading: "lazy"}
  .Transaction
    .Transaction-content
      .Transaction-date
      .Transaction-main
        .Transaction-value Loading...
