= render HeaderComponent.new(name: @group.name, timing: params[:timing], balance: @balance, shared: @shared, group: @group)
.Margin
  .Headline.MarginBottom
    = @shared ? t('common.shared_transactions') : t('common.all_transactions')
  .MarginBottom
    = render GroupUsersComponent.new(group: @group, timing: params[:timing], only_shared: @shared)
  = render TransactionListComponent.new(source: @group, timing: params[:timing], only_shared: @shared)
