- index = (params[:index]).to_i
= turbo_stream.append("users", partial: 'groups/user_row', locals: {index: index} )
= turbo_stream.update("new-user-button", partial: 'groups/user_button', locals: {index: index + 1} )
