.MarginBottom
  margin-bottom: 1rem
.MarginBottomSmall
  margin-bottom: 0.5rem
.MarginTop
  margin-top: 1rem
.Margin
  margin: 1rem
.MarginLarge
  margin: 2rem
.Flex
  display: flex
  justify-content: space-between
  align-items: baseline
  gap: 1rem
  &.asCenter
    align-items: center
.Bottom
  position: fixed
  z-index: 1
  bottom: 0
  width: 100vw
  left: 0
  box-shadow: 0 0px 6px 0 rgb(0 0 0)
  // background: $darkGrey
  .MainContent
    max-width: 600px
.Right
  display: flex
  justify-content: flex-end
.Balance
  &.positive
    color: $green
  &.negative
    color: $red
.Hidden
  display: none
