.AvatarList
  position: absolute
  bottom: -3px
  right: -3px
  display: grid
  grid-template-columns: repeat(3, 8px)
  direction: rtl
  &.asLarge
    grid-template-columns: repeat(3, 12px)
    .Avatar
      font-size: 16px
      width: 24px
      height: 24px

.Avatar
  background: $lightGrey
  color: $mediumGrey
  font-size: 12px
  width: 16px
  height: 16px
  border-radius: 50%
  display: flex
  align-items: center
  justify-content: center
  border: 1px solid $mediumGrey
