.Button
  display: inline-block
  appearance: none
  padding: 1rem
  background: $primary
  border-radius: 1rem
  color: $darkGrey
  text-decoration: none
  text-align: center
  border: none
  &.asFullWidth
    display: block
    border-radius: 0
  &.asSecondary
    background: $secondary
    color: $white
  &.asSmall
    padding: 0.5rem
    border-radius: 0.75rem
    font-size: 12px
.Link, .Link > a
  color: $grey
