.Button
  appearance: none
  padding: 1rem
  background: $primary
  border-radius: 1rem
  color: $darkGrey
  text-decoration: none
  text-align: center
  border: none
  &.asFullWidth
    display: block
    border-radius: 0
