// Entry point for your Sass build
@import './base/variables';
@import './base/utilities';
@import './base/box';

@import './components/avatar';
@import './components/button';
@import './components/flash';
@import './components/form';
@import './components/header';
@import './components/headline';
@import './components/transaction';
@import './components/user_status';

body {
  background: $black;
  color: $white;
  font-family: $baseFont;
  padding: 0;
  margin: 0;
}

html{
  padding: 0;
  margin: 0;
}

main{
  margin-bottom: 4rem;
}

* {
  box-sizing: border-box;
}

.FlashEffectGrey {
  animation: flash_grey .8s cubic-bezier(.46,.03,.52,.96);
}

@keyframes flash_grey {
  0% { background-color: $darkGrey; }
  30% { background-color: $lightGrey; }
  100% { background-color: $darkGrey; }
}
