// Entry point for your Sass build
@import 'base/Variables';
@import 'base/Utilities';
@import 'base/Box';

@import 'components/Button';
@import 'components/Form';
@import 'components/Header';
@import 'components/Headline';
@import 'components/Transaction';

body {
  background: $black;
  color: $white;
  font-family: $baseFont;
  padding: 0;
  margin: 0;
}

html{
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
}
