// Entry point for your Sass build
@import './base/variables';
@import './base/utilities';
@import './base/box';

@import './components/button';
@import './components/form';
@import './components/header';
@import './components/headline';
@import './components/transaction';

body {
  background: $black;
  color: $white;
  font-family: $baseFont;
  padding: 0;
  margin: 0;
}

html{
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
}
